.dx-box {
  gap: 30px;
  display: grid;
  padding: 10px;
  border: 1px solid #000;
  height: 663px;
  width: 1038px;
}

.top-box {
  border: 1px solid #000;
  height: 211px;
  width: 1034px;
}

.tp {
  border: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 30px;
  gap: 30px;
}

.mini-44 {
  border: 1px solid #000;
  height: 150px;
  width: 150px;
}

.tp-in-1-2-3 {
  border: none;
  display: grid;
  grid-auto-flow: row;
  height: 150px;
  width: 100%;
  gap: 30px;
}

.mini-1 {
  border: 1px solid #000;
  height: 60px;
  width: 790px;
}

.tp-in-2-3{
  border: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 60px;
  gap: 30px;
}

.mini-2 {
  border: 1px solid #000;
  height: 58px;
  width: 534px;
}

.mini-3 {
  border: 1px solid #000;
  height: 58px;
  width: 225px;
}


/* ーーーーーーーーここから下の段ーーーーーーーーーー */
.under {
  gap: 30px;
  grid-template-columns: 1fr 1fr;
  border: none;
  height: 420px;
  width: 1037px;
  display: grid;
  justify-content: space-between;
}

.tp-in-4-22 {
  display: grid;
  gap: 30px;
  border: none;
  height: 418px;
  width: 660px;
}

.mini-66 {
  border: 1px solid #000;
  height: 418px;
  width: 346px;
}

.tp2 {
  border: none;
  gap: 30px;
  display: grid;
  grid-auto-flow: row;
  height: 204px;
  width: 660px;
  align-content: space-between;
}

.mini-4 {
  display: grid;
  gap: 30px;
  border: 1px solid #000;
  height: 85px;
  width: 657px;
}

.tp3 {
  border: none;
  height: 155px;
  width: 659px;
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
}

.mini-22 {
  border: 1px solid #000;
  height: 140px;
  width: 140px;
}